global
user haproxy
group haproxy

defaults
mode http
log global
retries 2
timeout connect 3000ms
timeout server 5000ms
timeout client 5000ms

frontend http
bind :80
mode http
default_backend http

backend http
mode http
balance roundrobin
server webserver1 172.27.11.20:80 check fall 3 rise 2
server webserver2 172.27.11.30:80 check fall 3 rise 2
